services:
  web:
    build: .
    volumes:
      - ./:/var/www/html/
    ports:
      - 80:80
    depends_on:
      - db
  
  db:
    image: mysql:latest
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=conferention_db
      - MYSQL_USER=malikm
      - MYSQL_PASSWORD=test
  
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_USER=malikm
      - PMA_PASSWORD=test
      - PMA_ARBITRARY=0
    depends_on:
      - db
      
volumes:
  db: