.form {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
}

#message {
    margin-top: 20px;
}

.heading {
    background: linear-gradient(135deg, #232129, #272727); /* dark green to dark grey */
    color: #ffffff; /* white text */
    padding: 20px 30px;
    border-radius: 12px; /* soft rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* subtle shadow for depth */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.input-group-text {
    background-color: #213a32; /* Dark green background */
    color: azure; /* White text */
    border: none; /* Remove border */
}

.input-group-text:hover {
    background-color: #37574b; /* Slightly lighter green on hover */
    color: azure; /* White text */
}

body {
    background-color: #213a32; /* Dark green background */
    color: rgb(37, 37, 37); /* White text */
    font-family: 'Courier New', Courier, monospace;
}

.btn-primary {
    background-color: #213a32; /* Green */
    border-color: #4CAF50;
}

.btn-primary:hover {
    background-color: #37574b; /* Darker green */
    border-color: #45a049;
}

.btn-primary:active {
    background-color: #37574b;
}

#register-redirect, #login-redirect {
    margin-top: 20px;
}